<link rel="import" href="../sieve-main/sieve-main.html">

<link rel="import" href="../../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../../bower_components/app-layout/app-header-layout/app-header-layout.html">

<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">


<dom-module id="pd-dashboard">
    <template>
        <style>
            app-drawer-layout:not([narrow]) [drawer-toggle] {
                display: none;
            }
            
            app-header {
                background-color: var(--paper-blue-700);
                color: #fff;
            }

        </style>

        <app-drawer-layout>

            <app-drawer slot="drawer">
                <app-toolbar>Getting Started</app-toolbar>
            </app-drawer>

            <app-header-layout>

                <app-header slot="header" reveals effects="waterfall">
                        <app-toolbar>
                            <div main-title>Sieve of Eratosthenes</div>
                        </app-toolbar>
                </app-header>

                <sieve-main></sieve-main>
            </app-header-layout>
        </app-drawer-layout>
        
    </template>


    <script>
        Polymer({
            is: "pd-dashboard"
        });
    </script>
</dom-module>
